body{
    background-image:radial-gradient(white,yellow,red);
    height:100vh;
    margin: 0;
    padding: 0;
}
.container{
    width:100%;
    text-align:center;
    margin-top:10%;
}
.ball{
    max-width:150px;
    /* margin-left:50%;
    margin-top:50%; */
    
}
h2{
    font-weight: bold;
    font-size:30px;
    color:green;   
   
}

.ball{
    cursor: pointer;
   
}

.play{
     transition: transform 1s;
    transform-style: preserve-3d;
    transform: rotateY(360deg)
}
.table-data{
    border: 2px solid black;
    margin: 0;
    padding: 0;
}
.reset{
    color: green;
    display: none;
}